<h1>
  Elipad is a collaborative and real-time notepad
</h1>
<ol>
  <li>
    Choose any random name for your notepad project
  </li>
  <li>
    Type elipad.com/any_random_name on your browser
  </li>
  <li>
    Tell your friends you access the same URL and start working!
  </li>
</ol>

