#index-page {
  padding: 80px 0 0 80px;
}

#index-page ol {
  margin: 40px 0 60px;
}

#index-page label {
  display: inline;
}

#index-page input {
  width: 120px;
}

#show-page .column {
  padding: 2rem 0 0 2rem;
  height: 98vh;
}
#show-page #textarea {
  border: none;
}

#show-page #preview {
  border-left: 2px #eee solid;
  overflow-y: scroll;
}

#show-page #button-container {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 150px;
  text-align: right;
}

#show-page #button-container button {
  opacity: 0.3;
  margin-top: 10px;
}

#show-page #button-container button:hover {
  opacity: 0.6;
}

